<so-header></so-header>

<so-aside></so-aside>

<router-outlet></router-outlet>

<so-notification [type]="notificationService.state.type" [message]="notificationService.state.message" [displaying]="notificationService.state.displaying"></so-notification>

<so-loader [show]="loaderService.isActive"></so-loader>
