<so-main>
	<div class="so-pg-dashboard clearfix">
		<div class="so-pages--head clearfix">
			<h6>Dashboard</h6>
		</div>
		
		<div class="so-pg-dashboard--cards clearfix">
			<div class="so-dashboard-card clearfix">
				<h6 class="so-dashboard-card--title">Running Process Instances</h6>
				
				<div class="clearfix"></div>
				
				<div class="so-dashboard-card--count clearfix">
					<span class="so-dashboard-card--count--number">1</span>
					<span class="so-dashboard-card--count--number">2</span>
					<span class="so-dashboard-card--count--number">3</span>
				</div>
				
				<div class="so-dashboard-card--name">Este mês</div>
			</div>
			
			<div class="so-dashboard-card clearfix">
				<h6 class="so-dashboard-card--title">Open Incidents</h6>
				
				<div class="clearfix"></div>
				
				<div class="so-dashboard-card--count clearfix">
					<span class="so-dashboard-card--count--number">1</span>
					<span class="so-dashboard-card--count--number">2</span>
					<span class="so-dashboard-card--count--number">3</span>
				</div>
				
				<div class="so-dashboard-card--name">Este mês</div>
			</div>
			
			<div class="so-dashboard-card clearfix">
				<h6 class="so-dashboard-card--title">Open Human Tasks</h6>
				
				<div class="clearfix"></div>
				
				<div class="so-dashboard-card--count clearfix">
					<span class="so-dashboard-card--count--number">1</span>
					<span class="so-dashboard-card--count--number">2</span>
					<span class="so-dashboard-card--count--number">3</span>
				</div>
				
				<div class="so-dashboard-card--name">Este mês</div>
			</div>
		</div>
	</div>
</so-main>