<so-main>
	<div class="so-pg-tasklist clearfix">
		<div class="so-pages--head clearfix">
			<h6>Tasklist</h6>
			
			<so-button type="primary" text="Criar uma task" (click)="goToCreatePage($event)"></so-button>
		</div>
		
		<so-tasklist [props]="state"></so-tasklist>
	</div>
</so-main>