<so-main>
	<div class="so-pg-task-novo clearfix">
		<div class="so-pages--head clearfix">
			<h6>Nova Task</h6>
		</div>
		
		<so-task-form [props]="state" (submission)="handleTaskCreation($event)"></so-task-form>
	</div>
</so-main>