/deep/ {
	.so-pg-task-novo {
		&--form {
			width: 100%;
			padding: 27px;
			box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.10);
			border: 1px solid #E9EFF4;
			background-color: #fff;
			
			so-input {
				/deep/ {
					fieldset {
						margin-top: 25px;
					}
				}
				
				&:first-of-type {
					/deep/ {
						fieldset {
							margin-top: 0;
						}
					}
				}
			}
			
			so-button {
				margin-top: 40px;
				float: right;
			}
		}
	}
}