<div class="so-pg-login--form clearfix">
	<div class="so-pg-login--form--center clearfix">
		<so-login-form (wasSubmited)="handleLogin($event)"></so-login-form>
	</div>
</div>

<div class="so-pg-login--image clearfix"></div>