/deep/ {
	.so-header, .so-aside {
		display: none;
	}
	
	.so-pg-login {
		&--form, &--image {
			height: 100vh;
		}
		
		&--form {
			width: (576/1440)*100%;
			float: left;
			position: relative;
			background: #fff;
			
			&--center {
				width: 328px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			
			&--logo {
				max-width: 120px;
				margin: 0 auto 56px;
				display: table;
			}
		}
		
		&--image {
			width: (864/1440)*100%;
			float: right;
			background: url('../../../assets/images/bg-login-page.jpg') no-repeat left top;
			background-size: cover;
		}
	}
	
	/deep/ {
		so-input {
			display: block;
			margin-top: 24px;
			
			&:first-of-type {
				margin-top: 0;
			}
		}
		
		so-checkbox {
			width: 137px;
			float: right;
			margin: 24px 0 57px;
		}
		
		so-button {
			width: 216px;
			display: table;
			margin: 0 auto;
			
			a {
				width: 100%;
			}
		}
	}
	
	so-pg-login-image {
	
	}
}