<so-main>
	<div class="so-pg-task-novo clearfix">
		<div class="so-pages--head clearfix">
			<h6>Editar Task</h6>
		</div>
		
		<so-task-form [props]="state" (claim)="handleClaim($event)" (submission)="updateTask($event)"></so-task-form>
	</div>
</so-main>