<div class="so-styleguide-header clearfix">
	<div class="so-styleguide-header--bar"></div>
	
	<div class="so-styleguide-header--main wrapper clearfix">
		<h1 class="so-styleguide-header--title">Cores & Tipografia</h1>
		
		<div class="so-styleguide-header--brand">
			<img src="assets/images/sofisa-logo.png" alt="Sofisa">
		</div>
	</div>
</div>

<div class="so-styleguide-content clearfix">
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Cores Sofisa
				</h2>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #0CB598;"></div>
						
						<p class="so-styleguide-colors--item--name">Verde<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #FAB327;"></div>
						
						<p class="so-styleguide-colors--item--name">Laranja<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #485E61;"></div>
						
						<p class="so-styleguide-colors--item--name">Cinza<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #0FE5C0;"></div>
						
						<p class="so-styleguide-colors--item--name">Verde<br />Sofisa 300</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #FCCA69;"></div>
						
						<p class="so-styleguide-colors--item--name">Laranja<br />Sofisa 400</p>
					</li>
				</ul>
			</div>
			
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Gradientes
				</h2>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #0CB598;"></div>
						
						<p class="so-styleguide-colors--item--name">Verde<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #FAB327;"></div>
						
						<p class="so-styleguide-colors--item--name">Laranja<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #485E61;"></div>
						
						<p class="so-styleguide-colors--item--name">Cinza<br />Sofisa</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #0FE5C0;"></div>
						
						<p class="so-styleguide-colors--item--name">Verde<br />Sofisa 300</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #FCCA69;"></div>
						
						<p class="so-styleguide-colors--item--name">Laranja<br />Sofisa 400</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Notificações
				</h2>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #2D4EF5;"></div>
						
						<p class="so-styleguide-colors--item--name">Info</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #4CE2A7;"></div>
						
						<p class="so-styleguide-colors--item--name">Sucesso</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #E24C4C;"></div>
						
						<p class="so-styleguide-colors--item--name">Erro</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #F1A153;"></div>
						
						<p class="so-styleguide-colors--item--name">Alerta</p>
					</li>
				</ul>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #798EF8;"></div>
						
						<p class="so-styleguide-colors--item--name">Info<br />200</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #9DEFCF;"></div>
						
						<p class="so-styleguide-colors--item--name">Sucesso<br />200</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #E97C7C;"></div>
						
						<p class="so-styleguide-colors--item--name">Erro<br />200</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #F7CBA1;"></div>
						
						<p class="so-styleguide-colors--item--name">Alerta<br />200</p>
					</li>
				</ul>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #1D329C;"></div>
						
						<p class="so-styleguide-colors--item--name">Info<br />400</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #31906B;"></div>
						
						<p class="so-styleguide-colors--item--name">Sucesso<br />400</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #A53838;"></div>
						
						<p class="so-styleguide-colors--item--name">Erro<br />400</p>
					</li>
					
					<li class="so-styleguide-colors--item clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #B0763D;"></div>
						
						<p class="so-styleguide-colors--item--name">Alerta<br />400</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Cinzas
				</h2>
				
				<ul class="so-styleguide-colors clearfix">
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #FAFAFA;"></div>
						
						<p class="so-styleguide-colors--item--name">100</p>
					</li>
					
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #E5E5E5;"></div>
						
						<p class="so-styleguide-colors--item--name">200</p>
					</li>
					
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #CCCCCC;"></div>
						
						<p class="so-styleguide-colors--item--name">300</p>
					</li>
					
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #999999;"></div>
						
						<p class="so-styleguide-colors--item--name">400</p>
					</li>
					
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #666666;"></div>
						
						<p class="so-styleguide-colors--item--name">500</p>
					</li>
					
					<li class="so-styleguide-colors--item square clearfix">
						<div class="so-styleguide-colors--item--color" style="background-color: #333333;"></div>
						
						<p class="so-styleguide-colors--item--name">600</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<h2 class="so-styleguide-content--title clearfix">
				<strong>—</strong> Tipografia
			</h2>
			
			<ul class="so-styleguide-typhos clearfix">
				<li class="so-styleguide-typhos--item clearfix">
					<h1>Aa</h1>
					
					<span>Heading 1</span>
				</li>
				
				<li class="so-styleguide-typhos--item clearfix">
					<h2>Bb</h2>
					
					<span>Heading 2</span>
				</li>
				
				<li class="so-styleguide-typhos--item clearfix">
					<h3>Cc</h3>
					
					<span>Heading 3</span>
				</li>
				
				<li class="so-styleguide-typhos--item clearfix">
					<h4>Dd</h4>
					
					<span>Heading 4</span>
				</li>
				
				<li class="so-styleguide-typhos--item clearfix">
					<h5>Ee</h5>
					
					<span>Heading 5</span>
				</li>
				
				<li class="so-styleguide-typhos--item clearfix">
					<h6>Ff</h6>
					
					<span>Heading 6</span>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Cores dos textos
				</h2>
				
				<ul class="so-styleguide-text-colors clearfix">
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #2D4EF5"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Azul <small>(Texto de info ou link)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #4CE2A7"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Verde <small>(Texto de sucesso)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #E24C4C"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Vermelho <small>(Texto de erro)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #F1A153"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Laranja <small>(Texto de alerta)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #333333"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Preto <small>(Texto de títulos)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #999999"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Cinza <small>(Texto de body)</small>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<h2 class="so-styleguide-content--title clearfix">
				<strong>—</strong> Elevações e Sombras
			</h2>
		</div>
		
		<div class="so-styleguide-content--shadows clearfix">
			<div class="wrapper clearfix">
				<ul class="so-styleguide-content--shadows--examples clearfix">
					<li class="so-styleguide-content--shadows--examples--item so-shadow--1"></li>
					
					<li class="so-styleguide-content--shadows--examples--item so-shadow--2"></li>
					
					<li class="so-styleguide-content--shadows--examples--item so-shadow--3"></li>
					
					<li class="so-styleguide-content--shadows--examples--item so-shadow--4"></li>
					
					<li class="so-styleguide-content--shadows--examples--item so-shadow--5"></li>
					
					<li class="so-styleguide-content--shadows--examples--item so-shadow--6"></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Cinzas
				</h2>
				
				<ul class="so-styleguide-text-colors clearfix">
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #FAFAFA"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Lighter <small>(Background)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #999999"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Dark <small>(Texto)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #E5E5E5"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Light <small>(Houver e backgrounds solidos)</small>
						</p>
					</li>
					
					<li class="so-styleguide-text-colors--item clearfix">
						<div class="so-styleguide-text-colors--item--color" style="background-color: #CCCCCC"></div>
						
						<p class="so-styleguide-text-colors--item--text">
							Medium <small>(Separador e icones desabilitados)</small>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- BOTÕES -->

<div class="so-styleguide-header clearfix">
	<div class="so-styleguide-header--bar"></div>
	
	<div class="so-styleguide-header--main wrapper clearfix">
		<h1 class="so-styleguide-header--title">Botões</h1>
		
		<div class="so-styleguide-header--brand">
			<img src="assets/images/sofisa-logo.png" alt="Sofisa">
		</div>
	</div>
</div>

<div class="so-styleguide-content clearfix">
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<h2 class="so-styleguide-content--title clearfix">
				<strong>—</strong> Variações
			</h2>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="primary" text="Botão primario"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="info" text="Info"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="success" text="Sucesso"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="error" text="Erro"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="alert" text="Alerta"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-primary" text="Primario outline"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-info" text="Info outline"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-success" text="Sucesso outline"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-error" text="Error outline"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-alert" text="Alerta outline"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="outline-disabled" text="Desabilitado"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<a href="#" class="btn-circle btn-info">
						<img src="assets/images/icon-send.png" alt="Exemplo">
					</a>
					
					<a href="#" class="btn-circle btn-success">
						<img src="assets/images/icon-success.png" alt="Exemplo">
					</a>
					
					<a href="#" class="btn-circle btn-error">
						<img src="assets/images/icon-error.png" alt="Exemplo">
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<h2 class="so-styleguide-content--title clearfix">
				<strong>—</strong> Estado de botões
			</h2>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="primary" text="Default"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="info" text="Default"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="success" text="Default"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="error" text="Default"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="alert" text="Default"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="primary-hover" text="Hover"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="info-hover" text="Hover"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="success-hover" text="Hover"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="error-hover" text="Hover"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="alert-hover" text="Hover"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="primary-click" text="Click"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="info-click" text="Click"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="success-click" text="Click"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="error-click" text="Click"></so-button>
				</li>
				
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="alert-click" text="Click"></so-button>
				</li>
			</ul>
			
			<ul class="so-styleguide-buttons clearfix">
				<li class="so-styleguide-buttons--item clearfix">
					<so-button type="disabled" text="Desabilitado"></so-button>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- FORMS & INPUT -->

<div class="so-styleguide-header clearfix">
	<div class="so-styleguide-header--bar"></div>
	
	<div class="so-styleguide-header--main wrapper clearfix">
		<h1 class="so-styleguide-header--title">Forms & Inputs</h1>
		
		<div class="so-styleguide-header--brand">
			<img src="assets/images/sofisa-logo.png" alt="Sofisa">
		</div>
	</div>
</div>

<div class="so-styleguide-content clearfix">
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Form Fields
				</h2>
				
				<ul class="so-styleguide-inputs clearfix">
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Default input field"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field with text" value="Let me know if you like it"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field with fixed parameters" [inputConfig]="{ type: 'width-params', params: { left: '$', right: '.00' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field with left parameter" [inputConfig]="{ type: 'width-params', params: { left: '$' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field with fixed parameters" [inputConfig]="{ validation: { type: 'error', message: 'Opp! Something not right here' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Warning input field" [inputConfig]="{ validation: { type: 'warning', message: 'Opp! Something not right here' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Success input field" [inputConfig]="{ validation: { type: 'success', message: 'Perfect!' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Disabled input field" [inputConfig]="{ disabled: true }" placeholder="Placeholder"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Error input field" [inputConfig]="{ validation: { type: 'error with-params', message: 'Opp! Something not right here' }, params: { left: '$' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Success input field" [inputConfig]="{ validation: { type: 'success with-params', message: 'Perfect!' }, params: { left: '$' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Warning input field" [inputConfig]="{ validation: { type: 'warning with-params', message: 'Warning!' }, params: { left: '$' } }"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-textarea label="Textarea"></so-textarea>
					</li>
				</ul>
			</div>
			
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					&nbsp;
				</h2>
				
				<ul class="so-styleguide-inputs clearfix">
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Default input field" [inputConfig]="{ validation: { type: 'without-bg' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field with text" value="Let me know if you like it" [inputConfig]="{ validation: { type: 'without-bg' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input field active" value="Let me know if you like it" [inputConfig]="{ validation: { type: 'is-active without-bg' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input Field with fixed parameters" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'with-params without-bg' }, params: { left: '$', right: '.00' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Input Field with parameter left" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'with-params without-bg' }, params: { left: '$' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Error input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'error without-bg', message: 'Opp! Something not right here' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Warning input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'warning without-bg', message: 'Opp! Something not right here' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Success input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'success without-bg', message: 'Perfect!' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Disabled input field" placeholder="Placeholder" [inputConfig]="{ disabled: true, validation: { type: ' without-bg' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Error input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'error with-params without-bg', message: 'Opp! Something not right here' }, params: { left: '$' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Success input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'success with-params without-bg', message: 'Perfect!' }, params: { left: '$' }}"></so-input>
					</li>
					
					<li class="so-styleguide-inputs--item clearfix">
						<so-input label="Warning input field" placeholder="Placeholder" [inputConfig]="{ validation: { type: 'warning with-params without-bg', message: 'Warning!' }, params: { left: '$' }}"></so-input>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- INPUT -->

<div class="so-styleguide-header clearfix">
	<div class="so-styleguide-header--bar"></div>
	
	<div class="so-styleguide-header--main wrapper clearfix">
		<h1 class="so-styleguide-header--title">Input</h1>
		
		<div class="so-styleguide-header--brand">
			<img src="assets/images/sofisa-logo.png" alt="Sofisa">
		</div>
	</div>
</div>

<div class="so-styleguide-content clearfix">
	<div class="so-styleguide-content--row clearfix">
		<div class="wrapper clearfix">
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					<strong>—</strong> Input
				</h2>
				
				<ul class="so-styleguide-checkbox clearfix">
					<li class="so-styleguide-checkbox--item clearfix">
						<so-checkbox label="Default checkbox" name="example1" value="1"></so-checkbox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-checkbox label="Checked checkbox" name="example1" value="2" [checked]="true"></so-checkbox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-checkbox label="Disabled checkbox" name="example1" value="3" [disabled]="true"></so-checkbox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-checkbox label="Hover checkbox" name="example1" value="4"></so-checkbox>
					</li>
				</ul>
				
				<ul class="so-styleguide-radiobox clearfix">
					<li class="so-styleguide-checkbox--item clearfix">
						<so-radiobox label="Default radiobox" name="example1" value="1"></so-radiobox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-radiobox label="Checked radiobox" name="example1" value="2" [checked]="true"></so-radiobox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-radiobox label="Disabled radiobox" name="example1" value="3" [disabled]="true"></so-radiobox>
					</li>
					
					<li class="so-styleguide-checkbox--item clearfix">
						<so-radiobox label="Hover radiobox" name="example1" value="4"></so-radiobox>
					</li>
				</ul>
			</div>
			
			<div class="so-styleguide-content--column clearfix">
				<h2 class="so-styleguide-content--title clearfix">
					&nbsp;
				</h2>
				
				<ul class="so-styleguide-switch clearfix">
					<li class="so-styleguide-switch--item clearfix">
						<so-switch [isActive]="true"></so-switch>
					</li>
					
					<li class="so-styleguide-switch--item clearfix">
						<so-switch></so-switch>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>