@import '../../../assets/scss/colors';
@import '../../../assets/scss/shadows';

.so-styleguide-header {
	width: 100%;
	
	&--bar {
		width: 100%;
		height: 21px;
		background: $color-verde-sofisa;
	}
	
	&--main {
		padding-top: 119px;
	}
	
	&--title {
		font-size: 60px;
		font-weight: normal;
		float: left;
	}
	
	&--brand {
		float: right;
		margin-top: -5px;
	}
}

.so-styleguide-content {
	padding: 130px 0;
	
	&--title {
		font-size: 30px;
		font-weight: normal;
		
		strong {
			color: #09BDA2;
		}
	}
	
	&--row {
		margin-top: 80px;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
	
	&--column {
		width: 48%;
		float: right;
		
		&:first-of-type {
			float: left;
		}
	}
	
	&--shadows {
		margin-top: 34px;
		padding: 90px 130px;
		background: #FAFAFA;
		
		&--examples {
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			
			&--item {
				width: 180px;
				height: 100px;
				background: #fff;
			}
		}
	}
	
	.so-styleguide-colors, .so-styleguide-typhos, .so-styleguide-text-colors, .so-styleguide-buttons, .so-styleguide-inputs, .so-styleguide-checkbox, .so-styleguide-radiobox, .so-styleguide-switch {
		margin-top: 51px;
		padding-left: 35px;
	}
}

.so-styleguide-colors, .so-styleguide-typhos, .so-styleguide-text-colors, .so-styleguide-content--shadows--examples, .so-styleguide-buttons, .so-styleguide-inputs, .so-styleguide-checkbox, .so-styleguide-radiobox, .so-styleguide-switch {
	list-style: none;
}

.so-styleguide-colors {
	width: 100%;
	
	&--item {
		width: 80px;
		float: left;
		margin-left: 30px;
		
		&:first-of-type {
			margin-left: 0;
		}
		
		&--color {
			width: 100%;
			height: 80px;
			border-radius: 50%;
			margin: 0 auto 29px;
		}
		
		&--name {
			font-size: 14px;
			color: $color-cinza-300;
			text-align: center;
			line-height: 19px;
		}
	}
	
	&--item.square {
		width: 60px;
		
		.so-styleguide-colors--item--color {
			height: 60px;
			border-radius: 0;
		}
	}
}

.so-styleguide-typhos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	
	&--item {
		h1, h2, h3, h4, h5, h6 {
			font-weight: normal;
			margin-bottom: 30px;
		}
		
		span {
			font-size: 14px;
			color: $color-cinza-300;
		}
	}
}

.so-styleguide-text-colors {
	&--item {
		width: 100%;
		margin-top: 30px;
		
		&:first-of-type {
			margin-top: 0;
		}
		
		&--color, &--text {
			float: left;
		}
		
		&--color {
			width: 60px;
			height: 30px;
		}
		
		&--text {
			font-size: 14px;
			color: $color-cinza-600;
			margin-left: 15px;
			
			small {
				font-size: inherit;
				color: $color-cinza-400;
			}
		}
	}
}

.so-styleguide-buttons {
	margin-top: 39px !important;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	&:first-of-type {
		margin-top: 51px !important;
	}
	
	&--item {
		/deep/ {
			.btn {
				width: 180px;
				padding-left: 0;
				padding-right: 0;
			}
			
			.btn-circle {
				margin-left: 20px;
				
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}
}

.so-styleguide-checkbox, .so-styleguide-radiobox, .so-styleguide-switch {
	width: 50%;
	float: left;
	
	&--item {
		margin-top: 10px;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
}

.so-styleguide-radiobox, .so-styleguide-switch {
	padding-left: 0;
}

// TODO: Mover para seus components

.btn-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background: blue;
	
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	&.btn-primary {
		background-color: $color-info;
	}
	
	&.btn-success {
		background-color: $color-success;
	}
	
	&.btn-error {
		background-color: $color-error;
	}
}

.so-styleguide-inputs {
	width: 100%;
	
	&--item {
		margin-top: 30.3px;
		
		&:first-of-type {
			margin-top: 0;
		}
	}
}